<div class = "w-full flex">
  <%= render 'shared/sidebar' %>
  <div class = 'grow h-screen p-5 flex flex-col justify-between items-center'>
    <div class = 'w-full h-full rounded-lg flex gap-x-6 px-2'>

      <div class = 'w-1/3 h-full flex flex-col'>
        
        <div class = 'w-full h-1/2 pb-2'>
          <div class = 'w-full h-full bg-pal-200 rounded-lg p-4'>
            <div class = 'w-full h-full overflow-scroll noscroll'>
              <div class = 'w-full flex gap-x-2'>
                <div class = 'p-2 bg-zinc-700 size-16 flex justify-center items-center rounded-lg'>
                  <i class="fa-solid fa-triangle-exclamation text-4xl text-white"></i>
                </div>
                <div class = 'p-2 size-16 flex flex-col justify-center items-start rounded-lg grow'>
                  <p class = 'text-lg font-semibold text-white'>Today's Tasks</p>
                  <p class = 'text-sm text-neutral-500 font-semibold'><%= @todays_tasks_count %> Today's Tasks</p>
                </div>
              </div>
              <div class = 'w-full flex flex-col justify-center items-center py-4 px-4 gap-y-1'>
                <% if @todays_tasks_count != 0 %>
                  <% @todays_tasks.each do |task| %>
                    <div class = 'w-full flex'>
                      <%= link_to category_task_path(task.category_id, task.id), class: 'w-full h-full flex gap-x-2' do %>
                        <div class = 'p-2 w-16 flex justify-center items-center rounded-lg'>
                          <i class="fa-regular fa-circle-check text-4xl text-white"></i>
                        </div>
                        <div class = 'p-2 flex flex-col justify-center items-start rounded-lg grow'>
                          <p class = 'text-lg font-semibold text-white'><%= task.name %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'><%= task.description %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'>Due Date: <%= task.updated_due_date %></p>
                          <div class = 'flex gap-x-2'>
                            <% if task.priority_level == 'High'%>
                              <p class = 'text-sm text-pal-500 font-semibold red-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% else %>
                              <p class = 'text-sm text-pal-800 font-semibold green-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% end %>
                            <p class = 'text-sm text-pal-600 font-semibold yellow-bg px-2 rounded'><%= task.category_name %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class = 'w-full flex gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <p class = 'text-sm text-neutral-500 font-semibold rounded'>There are no tasks scheduled for today.</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class = 'w-full h-1/2 pt-2'>
          <div class = 'w-full h-full bg-pal-200 rounded-lg p-4'>
            <div class = 'w-full h-full overflow-scroll noscroll'>
              <div class = 'w-full flex gap-x-2'>
                <div class = 'p-2 bg-zinc-700 size-16 flex justify-center items-center rounded-lg'>
                  <i class="fa-regular fa-bell text-4xl text-white"></i>
                </div>
                <div class = 'p-2 size-16 flex flex-col justify-center items-start rounded-lg grow'>
                  <p class = 'text-lg font-semibold text-white'>High Priority Tasks</p>
                  <p class = 'text-sm text-neutral-500 font-semibold'><%= @high_priority_task_count %> High Priority Tasks</p>
                </div>
              </div>
              <div class = 'w-full flex flex-col justify-center items-center py-4 px-4 gap-y-1'>
                <% if @high_priority_task_count != 0 %>
                  <% @high_priority_tasks.each do |task| %>
                    <div class = 'w-full flex'>
                      <%= link_to category_task_path(task.category_id, task.id), class: 'w-full h-full flex gap-x-2' do %>
                        <div class = 'p-2 w-16 flex justify-center items-center rounded-lg'>
                          <i class="fa-regular fa-circle-check text-4xl text-white"></i>
                        </div>
                        <div class = 'p-2 flex flex-col justify-center items-start rounded-lg grow'>
                          <p class = 'text-lg font-semibold text-white'><%= task.name %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'><%= task.description %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'>Due Date: <%= task.updated_due_date %></p>
                          <div class = 'flex gap-x-2'>
                            <% if task.priority_level == 'High'%>
                              <p class = 'text-sm text-pal-500 font-semibold red-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% else %>
                              <p class = 'text-sm text-pal-800 font-semibold green-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% end %>
                            <p class = 'text-sm text-pal-600 font-semibold yellow-bg px-2 rounded'><%= task.category_name %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class = 'w-full flex gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <p class = 'text-sm text-neutral-500 font-semibold rounded'>There are no pending tasks..</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      

      <div class = 'w-1/3 h-full flex flex-col'>
        
        <div class = 'w-full h-2/3 pb-2'>
          <div class = 'w-full h-full bg-pal-200 rounded-lg p-4'>
            <div class = 'w-full h-full overflow-scroll noscroll'>
              <div class = 'w-full flex gap-x-2'>
                <div class = 'p-2 bg-zinc-700 size-16 flex justify-center items-center rounded-lg'>
                  <i class="fa-solid fa-spinner text-4xl text-white"></i>
                </div>
                <div class = 'p-2 size-16 flex flex-col justify-center items-start rounded-lg grow'>
                  <p class = 'text-lg font-semibold text-white'>Pending Tasks</p>
                  <p class = 'text-sm text-neutral-500 font-semibold'><%= @pending_task_count %> Pending Tasks</p>
                </div>
              </div>
              <div class = 'w-full flex flex-col justify-center items-center py-4 px-4 gap-y-1'>
                <% if @pending_task_count != 0 %>
                  <% @pending_task.each do |task| %>
                    <div class = 'w-full flex'>
                      <%= link_to category_task_path(task.category_id, task.id), class: 'w-full h-full flex gap-x-2' do %>
                        <div class = 'p-2 w-16 flex justify-center items-center rounded-lg'>
                          <i class="fa-regular fa-circle-check text-4xl text-white"></i>
                        </div>
                        <div class = 'p-2 flex flex-col justify-center items-start rounded-lg grow'>
                          <p class = 'text-lg font-semibold text-white'><%= task.name %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'><%= task.description %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'>Due Date: <%= task.updated_due_date %></p>
                          <div class = 'flex gap-x-2'>
                            <% if task.priority_level == 'High'%>
                              <p class = 'text-sm text-pal-500 font-semibold red-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% else %>
                              <p class = 'text-sm text-pal-800 font-semibold green-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% end %>
                            <p class = 'text-sm text-pal-600 font-semibold yellow-bg px-2 rounded'><%= task.category_name %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class = 'w-full flex gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <p class = 'text-sm text-neutral-500 font-semibold rounded'>There are no tasks scheduled for today.</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class = 'w-full h-1/3 pt-2'>
          <div class = 'w-full h-full bg-pal-200 rounded-lg p-4'>
            <div class = 'w-full h-full overflow-scroll noscroll'>
              <div class = 'w-full flex gap-x-2'>
                <div class = 'p-2 bg-zinc-700 size-16 flex justify-center items-center rounded-lg'>
                  <i class="fa-regular fa-clock text-4xl text-white"></i>
                </div>
                <div class = 'p-2 size-16 flex flex-col justify-center items-start rounded-lg grow'>
                  <p class = 'text-lg font-semibold text-white'>Nearest Due Date</p>
                </div>
              </div>
              <div class = 'w-full flex flex-col justify-center items-center py-4 px-4 gap-y-1'>
                <% if @nearest_due_date.present? && @nearest_due_date.length %>
                  <div class = 'p-2 pb-6 flex flex-col justify-center items-center rounded-lg grow'>
                    <p class = 'text-white font-bold text-5xl'><%= @nearest_due_date[0].updated_earliest_due_date %></p>
                  </div>
                  <% @nearest_due_date.each do |task| %>
                    <div class = 'w-full flex'>
                      <%= link_to category_path(task.category_id), class: 'w-full h-full flex gap-x-2' do %>
                          <div class = 'p-2 w-16 flex justify-center items-center rounded-lg'>
                            <i class="fa-regular fa-circle-check text-3xl text-white"></i>
                          </div>
                          <div class = 'p-2 flex flex-col justify-center items-start rounded-lg grow'>
                            <p class = 'text-lg font-semibold text-pal-600 yellow-bg px-2 rounded-md'><%= task.category_name %></p>
                            <p class = 'text-md text-neutral-500'><%= task.task_count %> Pending tasks</p>
                          </div>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class = 'w-full flex gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <p class = 'text-sm text-neutral-500 font-semibold rounded'>There are no task available.</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class = 'w-1/3 h-full flex flex-col'>

        <div class = 'w-full h-2/4 pb-2'>
          <div class = 'w-full h-full bg-pal-200 rounded-lg p-4'>
            <div class = 'w-full h-full overflow-scroll noscroll'>
              <div class = 'w-full flex gap-x-2'>
                <div class = 'p-2 bg-zinc-700 size-16 flex justify-center items-center rounded-lg'>
                  <i class="fa-solid fa-circle-check text-4xl text-white"></i>
                </div>
                <div class = 'p-2 size-16 flex flex-col justify-center items-start rounded-lg grow'>
                  <p class = 'text-lg font-semibold text-white'>Complete Tasks</p>
                  <p class = 'text-sm text-neutral-500 font-semibold'><%= @completed_task_count %> Complete Tasks</p>
                </div>
              </div>
              <div class = 'w-full flex flex-col justify-center items-center py-4 px-4 gap-y-1'>
                <% if @completed_task_count != 0 %>
                  <% @completed_task.each do |task| %>
                    <div class = 'w-full flex'>
                      <%= link_to category_task_path(task.category_id, task.id), class: 'w-full h-full flex gap-x-2' do %>
                        <div class = 'p-2 w-16 flex justify-center items-center rounded-lg'>
                          <i class="fa-solid fa-circle-check text-4xl text-white"></i>
                        </div>
                        <div class = 'p-2 flex flex-col justify-center items-start rounded-lg grow'>
                          <p class = 'text-lg font-semibold text-white'><%= task.name %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'><%= task.description %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'>Due Date: <%= task.updated_due_date %></p>
                          <div class = 'flex gap-x-2'>
                            <p class = 'text-sm text-pal-800 font-semibold green-bg px-2 rounded'><%= task.status %></p>
                            <% if task.priority_level == 'High'%>
                              <p class = 'text-sm text-pal-500 font-semibold red-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% else %>
                              <p class = 'text-sm text-pal-800 font-semibold green-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% end %>
                            <p class = 'text-sm text-pal-600 font-semibold yellow-bg px-2 rounded'><%= task.category_name %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class = 'w-full flex gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <p class = 'text-sm text-neutral-500 font-semibold rounded'>There are no tasks scheduled for today.</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class = 'w-full h-1/4 py-2'>
          <div class = 'w-full h-full bg-pal-200 rounded-lg p-4'>
            <div class = 'w-full h-full overflow-scroll noscroll'>
              <div class = 'w-full flex gap-x-2'>
                <div class = 'p-2 bg-zinc-700 size-16 flex justify-center items-center rounded-lg'>
                  <i class="fa-solid fa-circle-exclamation text-4xl text-white"></i>
                </div>
                <div class = 'p-2 size-16 flex flex-col justify-center items-start rounded-lg grow'>
                  <p class = 'text-lg font-semibold text-white'>Overdue Tasks</p>
                  <p class = 'text-sm text-neutral-500 font-semibold'><%= @overdue_tasks_count %> Overdue Tasks</p>
                </div>
              </div>
              <div class = 'w-full flex flex-col justify-center items-center py-4 px-4 gap-y-1'>
                <% if @overdue_tasks_count != 0 %>
                  <% @overdue_tasks.each do |task| %>
                    <div class = 'w-full flex'>
                      <%= link_to category_task_path(task.category_id, task.id), class: 'w-full h-full flex gap-x-2' do %>
                        <div class = 'p-2 w-16 flex justify-center items-center rounded-lg'>
                          <i class="fa-regular fa-circle-check text-4xl text-white"></i>
                        </div>
                        <div class = 'p-2 flex flex-col justify-center items-start rounded-lg grow'>
                          <p class = 'text-lg font-semibold text-white'><%= task.name %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'><%= task.description %></p>
                          <p class = 'text-sm text-neutral-500 font-semibold'>Due Date: <%= task.updated_due_date %></p>
                          <div class = 'flex gap-x-2'>
                            <% if task.priority_level == 'High'%>
                              <p class = 'text-sm text-pal-500 font-semibold red-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% else %>
                              <p class = 'text-sm text-pal-800 font-semibold green-bg px-2 rounded'><%= task.priority_level %> Priority</p>
                            <% end %>
                            <p class = 'text-sm text-pal-600 font-semibold yellow-bg px-2 rounded'><%= task.category_name %></p>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                <% else %>
                  <div class = 'w-full flex gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <p class = 'text-sm text-neutral-500 font-semibold rounded'>There are no tasks scheduled for today.</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>


        <div class = 'w-full h-1/4 pt-2'>
          <div class = 'w-full h-full bg-pal-200 rounded-lg p-4'>
            <div class = 'w-full h-full overflow-scroll noscroll'>
              <div class = 'w-full flex gap-x-2'>
                <div class = 'p-2 bg-zinc-700 size-16 flex justify-center items-center rounded-lg'>
                  <i class="fa-solid fa-list-check text-4xl text-white"></i>
                </div>
                <div class = 'p-2 size-16 flex flex-col justify-center items-start rounded-lg grow'>
                  <p class = 'text-lg font-semibold text-white'>Progress Report</p>
                </div>
              </div>
              <div class = 'w-full flex flex-col justify-center items-center py-4 px-4 gap-y-1'>
                <% if @all_tasks_count != 0 %>
                  <div class = 'w-full flex-col gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <div class="w-full bg-neutral-500 rounded-full">
                        <div class="bg-pal-700 text-xs font-bold text-blue-100 text-center p-1 leading-none rounded-full" style="width: <%= @completed_percentage %>%;"><%= @completed_percentage %>%</div>
                      </div>
                      <p class = 'text-sm font-semibold text-neutral-500 py-2'>Congratulations, <%= @completed_task_count %> of your <%= @all_tasks_count %> tasks are completed.</p>
                    </div>
                    <div class = 'px-2 flex flex justify-center items-center rounded-lg grow gap-x-2'>
                        <p class = 'text-sm font-semibold text-pal-600 yellow-bg px-2 rounded-md flex justify-center items-center'><i class="fa-solid fa-spinner pr-2"></i><%= @pending_task_count + @high_priority_task_count %> Pending Tasks</p>
                        <p class = 'text-sm font-semibold text-pal-500 red-bg px-2 rounded-md flex justify-center items-center'><i class="fa-solid fa-circle-xmark pr-2"></i><%= @overdue_tasks_count %> Overdue Tasks</p>
                    </div>
                  </div>
                <% else %>
                  <div class = 'w-full flex gap-x-2'>
                    <div class = 'p-2 flex flex-col justify-center items-center rounded-lg grow'>
                      <p class = 'text-sm text-neutral-500 font-semibold rounded'>There are no tasks available.</p>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

